html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --blue: #2875F9;
    --green: #28D223;
    --error: #f10000;
}